<section class="say-about">
    <h2>What my colleagues say about me</h2>
    <img class="qoutes" src="assets/img/svgs/quotes.svg" alt="">
    <div>
        <div class="messages">
            <div class="border-box" *ngFor="let item of sayAbout; let i = index;">
                <div class="border-frame">
                    <span>{{ item.comment }}</span>
                    <div>
                      <div class="line"></div>
                      <span>{{ item.autor }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="selector">
            <img class="arrows left" (click)="backward(i)" src="assets/img/svgs/arrow_back.svg" alt="">
            <img *ngFor="let item of ['Ellipse', 'Ellipse', 'Ellipse']; let i = index" src="assets/img/svgs/{{ item }}.svg" alt="">
            <img class="arrows right" (click)="forward(i)" src="assets/img/svgs/arrow_forward.svg" alt="">
        </div>
    </div>
</section>

<!-- <img *ngFor="let Ellipse of ['Ellipse', 'Ellipse', 'Ellipse'];" src="assets/img/svgs/{{ item }}.svg" alt=""> -->

<!-- <div class="border-box" *ngFor="let item of sayAbout; let i = index;">
    <div class="border-frame">
        <span>{{ item.comment }}</span>
        <div>
            <div class="line"></div>
            <span>{{ item.autor }}</span>
        </div>
    </div>
</div> -->