<section class="say-about">
    <h2>{{ 'testimonials.headline' | translate }}</h2>
    <img class="qoutes" src="assets/img/svgs/quotes.svg" alt="">
    <div>
        <div class="messages">
            <div class="border-box">
                <div class="border-frame">
                    <span>{{ comment }}</span>
                    <div>
                      <div class="line"></div>
                      <span>{{ autor }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="selector">
            <img class="arrows left" (click)="backward()" src="assets/img/svgs/arrow_back.svg" alt="">
            <div id="indicators">
                @for(about of sayAbout; track $index) {
                    <div
                        class="indicator"
                        [ngClass]="{'active': $index == currentMessage }"
                    ></div>
                }
            </div>
            <img class="arrows right" (click)="forward()" src="assets/img/svgs/arrow_forward.svg" alt="">
        </div>
    </div>
</section>