@import '../../app.component.scss';

section {
    position: relative;
    font-family: 'Karla';
    background: linear-gradient(55.22deg, rgba(28 ,28, 28, 1) 36.26%, rgba(8, 70, 59, 1));
    width: 100%;
    height: calc(100vh - 96px);
    @include dFlex();
    overflow: hidden;

    >div {
        background: unset;
        >span {
            @include dFlex();
            background-color: unset;
            font-size: 40px;
        }
    }

    .headline {
        @include dFlex();
        font-size: 128px;
        background: none;
    }

    p {
        font-size: 18px;
        background-color: unset;
        font-family: 'Karla';
    }
}

.sidePoint {
    position: unset;
}

.symbols {
    &:hover {
        svg {
            cursor: pointer;
            path {
                fill: $normalWhite;
            }
        }
    }
}

.info-box {
    z-index: 100;
    background-color: rgba(255,255,255,0.12);
    position: absolute;
    @include dFlex(space-around, $g: 48px);
    height: 62px;
    bottom: 140px;
    left: -40px;
    margin: 12px 32px 12px 32px;
    transform: rotate(-3deg);
    opacity: 0.5;
    backdrop-filter: blur(5.3px);
}

.info-box-text {
    position: relative;
    background-color: unset;
    @include dFlex(space-around);
    animation: slider-animation 30s ease-out;
    animation-iteration-count: infinite;
    span {
        @include dFlex($g: 48px);
        width: max-content;
        color: $mintGreen;
        font-size: 32px;
        line-height: 38.4px;
    }
    .circleGreen {
        margin-left: 46px;
    }
}

.arrow-down {
    bottom: 125px;
    left: 100px;
    position: absolute;
    @include dFlex(space-around);
    transform: rotate(-90deg);
    background-color: unset;
    gap: 10px;
    svg {
        background-color: unset;
        transform: rotate(90deg);
        &:hover {
            cursor: pointer;
        }
    }
    .line {
        width: 240px;
    }
}

.contact {
    background-color: unset;
    bottom: 193px;
    right: 0px;
    position: absolute;
    @include dFlex(space-around, $g: 10px);
    transform: rotate(-90deg);
    .line {
        width: 200px;
        border-color: $normalWhite;
    }
    svg {
        background-color: unset;
        transform: rotate(90deg);
        padding-left: 5px;
        &:hover {
            cursor: pointer;
        }
    }
    a{
        background-color: unset;
        text-decoration: none;
        &:hover {
            color: $mintGreen;
        }
    }

    .circleGreen {
        position: relative;
        bottom: 0px;
    }
}

.rotate-90 {
    transform: rotate(90deg);
}

.links{
    padding: 0px 12px;
}

@keyframes slider-animation{
    from {
        transform: translateX(0vw);
    } to {
        transform: translateX(calc(-100vw));
    }
}

@media (max-width: 1050px) {
    .contact {
        right: -120px;
    }
    .arrow-down {
        left: -100px;
    }
}

@media (max-width: 800px) {
    .contact,.arrow-down {
        display: none;
    }
    .headline {
        font-size: 62px !important;
    }
    span {
        font-size: 24px !important;
    }
}

@media (max-width: 500px) {
    .buttons {
        gap: 10%;
    }
}

@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
        gap: 20px;
    }
}