@import '../../app.component.scss';

section {
    @include dFlex(space-between);
    background: linear-gradient(55.22deg, rgba(28 ,28, 28, 1) 36.26%, rgba(8, 70, 59, 1)) !important;
    width: 100%;
    height: 96px;
    >div {
        @include dFlex(space-between);
        background-color: unset;
        padding: 0px 96px;
        >a {
            font-family: 'Fira Code';
            font-size: 20px;
            background: unset !important;
            padding-left: 20px;
            text-decoration: unset;
            
            &:hover {
                cursor: pointer;
                color: $mintGreen;
            }
            &:hover .dot {
                top: 25px;
            }
            >div {
                position: relative;
                left: 50%;
                @include dFlex();
                gap: 20px;
            }
        }
    }
}

.dot {
    transition: all 125ms ease-in-out;
    top: 0;
    z-index: 98;
}

svg {
    font-family: 'Karla';
    font-weight: bold;
    &:hover {
      text {
          cursor: pointer;
          fill: gray;
      }
    }
}





/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
    font-family: "karla";
    position: relative;
    display: inline-block;
    width: 84px;
    height: 28px;
    color: rgb(41, 136, 120);
    transition: all 125ms ease-in-out;
  
    &:hover {
      color: hsla(170, 60%, 53%, 1);
    }
  
    >div {
      position: absolute;
      top: 5px;
      width: 100%;
      @include dFlex($jc: space-between);
      flex-direction: row;
      padding: 0px 11px;
    }
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    z-index: 99;
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa00;
    border-radius: 100px;
    transition: all 125ms ease-in-out;
    border: 1px solid white;
  
    &:hover {
      border: 1px solid hsla(170, 60%, 53%, 0.5);
    }
  }
  
  .slider:before {
    font-family: "karla";
    position: absolute;
    content: "EN";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.5px;
    width: 48px;
    inset: -1px;
    background-color: #3dcfb6;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-in-out;
  }
  
  .slider.de:before {
    content: "DE";
  }
  
  .switch input:checked+.slider {
    background: #6992c000;
  }
  
  .switch input:focus+.slider {
    box-shadow: 0 0 1px #0975f100;
  }
  
  .slide:before {
    transform: translateX(36px);
  }
  
  // .mobile-view {
  //   display: none;
  // }

  /* menu button */
  #menu-btn {
    display: none;
    padding: 0px;
    
    &:hover {
      cursor: pointer;
    }
  }

@media (max-width: 980px) {
  .menu {
    display: none !important;
  }
  #logo {
    position: absolute;
    left: 10px;
    padding: unset;
  }
  section {
    position: relative;
  }
  #menu-btn {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
  }
}