<section (click)="onClose()">
    <div class="menu-frame">
        <div class="menu">
            <a (mouseover)="mouseover('about');" (mouseout)="mouseout('about');" href="#aboutme">{{ 'header.about' | translate }}
                <div [ngStyle]="{'opacity': this.about ? 1 : 0}" class="circleGreen"></div>
            </a>
            <a (mouseover)="mouseover('skills');" (mouseout)="mouseout('skills');" href="#skills">{{ 'header.skills' | translate }}
                <div [ngStyle]="{'opacity': this.skills ? 1 : 0}" class="circleGreen"></div>
            </a>
            <a (mouseover)="mouseover('projects');" (mouseout)="mouseout('projects');" href="#projects">{{ 'header.projects' | translate }}
                <div [ngStyle]="{'opacity': this.projects ? 1 : 0}" class="circleGreen"></div>
            </a>
            <label (click)="onEvent($event)" class="switch">
                <input type="checkbox">
                <span class="slider" (click)="this.toggleLanguage()"
                    [ngClass]="{de: this.isGerman, 'slide' : this.isGerman}">
                </span>
            </label>
        </div>
    </div>

</section>

<!-- (click)="this.toggleLanguage()" -->
