@import './../../../app.component.scss';

* {
    font-family: 'Karla';
    font-size: 18px;
}

section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 9999999;
}

.menu-frame {
    position: absolute;
    top: 80px;
    right: 60px;
    height: 150px;
    width: 150px;
    background: linear-gradient(55.22deg, rgba(28 ,28, 28, 1) 36.26%, rgba(8, 70, 59, 1)) !important;;
    border: 2px solid $mintGreen;
    border-radius: 20px;
    @include dFlex();
    .menu {
        @include dFlex($ai: start, $g: 10px);
        flex-direction: column;
    }
}

a {
    text-decoration: unset;
    &:hover {
        color: $mintGreen;
    }
    &:hover .dot {
        top: 25px;
    }
    >div {
        position: relative;
        left: 50%;
        @include dFlex();
        gap: 20px;
    }
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  

/* The slider */
.slider {
    z-index: 99;
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa00;
    border-radius: 100px;
    transition: all 125ms ease-in-out;
    border: 1px solid white;
  
    &:hover {
      border: 1px solid hsla(170, 60%, 53%, 0.5);
    }
}

.slider:before {
    font-family: "karla";
    position: absolute;
    content: "EN";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.5px;
    width: 48px;
    inset: -1px;
    background-color: #3dcfb6;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-in-out;
}
  
.slider.de:before {
    content: "DE";
}
  
.switch input:checked+.slider {
    background: #6992c000;
}
  
.switch input:focus+.slider {
    box-shadow: 0 0 1px #0975f100;
}
  
.slide:before {
    transform: translateX(36px);
}