@import '../../app.component.scss';

*{
    font-family: 'Karla';
}

section {
    @include dFlex(start, start);
    flex-direction: column;
    padding-left: 90px;
    height: auto;
    h1,h2 {
        color: $mintGreen;
    }
    h1 {
        font-family: 'Fira Code';
        font-size: 64px;
        font-weight: 700;
        // line-height: 64px;
    }
    .project {
        padding: 20px 0px;
        border-bottom: 1px solid $mintGreen
    }

    .description {
        padding-left: 20px;
    }
}

.mainDiv {
    width: 90%;
    >span {
        padding: 50px 0px;
        border-bottom: 1px solid $mintGreen
    }
}

.projects {
    width: 60vw;
    p {
        padding: 0px 12px;
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        // line-height: 28.8px;
    }
    span {
        padding: 0px 12px;
    }
}

.imgCont {
    @include dFlex();
    flex: 1;
    .projectpic {
        @include dFlex();
        width: 300px;
        height: 200px;
        position: absolute;
        right: 10%;
        border-radius: 20px;
    }
}

.project {
    @include dFlex(space-between);
        .description {
           @include dFlex($g: 10px);
           flex-direction: row;
           .arrowUp {
               display: none;
           }
        }
        &:hover {
            background-color: rgba($color: $mintGreen, $alpha: 0.5);
            cursor: pointer;
            .description>.arrowUp {
                display: flex;
                path {
                    fill: $normalWhite;
                }
            }
        }
}

.app-dialog {
    @include dFlex();
}

@media (max-width: 1300px) {
    .imgCont {
        .projectpic {
            right: 2%;
            width: 200px;
            height: 150px;
        }
    }
}

@media (max-width: 1200px) {
    .imgCont {
        .projectpic {
            right: 4%;
        }
    }
}

@media (max-width: 800px) {
    section {
        // padding-left: 20px;
        h2 {
            font-size: 18px;
        }
        h1 {
            font-size: 24px;
        }
        span {
            width: 80vw;
        }
    }
    .projects {
        width: 80vw;
    }
    .project {
        @include dFlex($ai: start, $g: 10px);
        flex-direction: column;
    }
    .imgCont {
        display: none;
    }
}

@media (max-width: 600px) {
    section {
        padding-left: 20px;
        @include dFlex();
    }
    .project{
        >.skills {
            display: none;
        }
    }
}