// @import '../styles.scss';

$mintGreen: rgba(61, 207, 182, 1);

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin hostBackground($col: #1C1C1C) {
    background-color: $col;
}

// $backgroundStandart: rgb(23, 23, 23);
$normalWhite: rgb(255, 255, 255, 1) !important;


@keyframes hover-Button-animation{
    0% {
        transform: translateX(120%);
    } 100% {
        transform: translateX(-120%);
    }
}

.background {
    @include dFlex();
    @include hostBackground();
    flex-direction: column;
    width: 100vw;
}

section {
    @include dFlex();
    max-width: 1920px;
    max-height: 1440px;
}

.buttons{
    background: unset;
    @include dFlex();
    gap: 70px;
}

.button {
    border-color: $normalWhite;
    gap: 10px;
    padding: 0px 24px;
    border: 1px solid $normalWhite;
    border-radius: 25px;
    height: 48px;
    background: unset;
    overflow-x: hidden;
    @include dFlex();
    text-decoration: none;

    &:hover {
        cursor: pointer;
        border-color: $mintGreen !important;
        p {
            color: $mintGreen;
            animation: hover-Button-animation 2.35s ease-in-out;
            animation-iteration-count: infinite;
            transform: translateX(-150px);
            cursor: pointer;
        }
    }
}

.line {
    height: 0px;
    border: 1px solid $mintGreen !important;
}

.circleGreen {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    border: 1px solid $mintGreen;
    background-color: $mintGreen;
}

.border-box {
    @include dFlex(start);
    flex-direction: column;
    height: auto; //640px
    width: 40vw;
    gap: 20px;
    .border-frame {
        background: rgba(61, 207, 182, 0.1);
        @include dFlex(space-around);
        flex-direction: column;
        border: 1px solid $mintGreen !important;
        border-radius: 30px;
        padding: 32px;
        gap: 40px;
        box-sizing: unset;
    }
    h2 {
        width: 100%;
        text-align: start;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.06px;
    }
}

.flex-start {
    position: relative;
    top: 0px;
    left: 25px;
}

.flex-end {
    height: 100%;
    @include dFlex(center ,end)
}

.sidePoint {
    position: relative;
    @include dFlex();
    flex-direction: column;
}

@media (max-width: 1000px) {
    section {
        max-height: unset;
    }
}