<section>
  <h1>Imprint</h1>
  <div>
    <div>
      <p>Information about the service provider.</p>
      <p>Marcel Zalec</p>
      <p>Drosen 40, <br />8383 St. Martin an der Raab <br />Austria</p>
    </div>
    <p>
      <!-- <strong>Tel.:</strong 00000000000<br /> -->
      <!-- <strong>Fax:</strong> 01234/56789-0<br /> -->
      <strong>Email: </strong>
      <a href="mailto:contact&#64;marcelzalec.at">contact&#64;marcelzalec.at</a>
    </p>
    <p style="margin-top: 15px">
      Source: Created with the
      <a
        href="https://www.adsimple.at/impressum-generator/"
        title="Impressum Generator Österreich von AdSimple"
        >Impressum Generator</a
      >
      by AdSimple
    </p>
  </div>
  <h2
    id="eu-streitschlichtung"
    data-fontsize="24"
    style="--fontSize: 24; line-height: 1.5; --minFontSize: 24"
    data-lineheight="36px"
  >
    EU Dispute Resolution
  </h2>
  <div>
    <p>
      In accordance with the Regulation on Online Dispute Resolution in Consumer
      Matters (ODR Regulation), we would like to inform you about the online
      dispute resolution platform (ODR platform).<br />
      Consumers have the opportunity to submit complaints to the online dispute
      resolution platform of the European Commission at
      <a
        href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
        target="_blank"
        rel="follow noopener"
        >https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a
      >. The necessary contact details can be found above in our imprint.
    </p>
    <p>
      However, we would like to point out that we are neither willing nor
      obliged to participate in dispute resolution procedures before a consumer
      arbitration board.
    </p>
    <p>All texts are protected by copyright.</p>
  </div>
</section>
