<section>
    <div class="border-box">
        <h2>Technologies</h2>
        <div class="border-frame">
            <h1>Skill Set</h1>
            <div>
                <span>My journey has involved working on diverse projects, employing a range of frontend technologies and concepts.
                    I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.</span>
                <div>
                    <h2>You need &nbsp;<p>another skill?</p></h2>
                    <span>Fell free to contact me. I look forward to expanding on my previous knowledge</span>
                </div>
                <div class="buttons">
                    <button><p>Let's talk</p></button>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-symbols">
        <div>
            <img src="assets/img/svgs/html.svg" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="assets/img/svgs/css.svg" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="assets/img/svgs/javascript.svg" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="assets/img/svgs/materialDesign.svg" alt="">
            <span>Material Design</span>
        </div>
        <div>
            <img src="assets/img/svgs/typeScript.svg" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="assets/img/svgs/angular.svg" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="assets/img/svgs/firebase.svg" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="assets/img/svgs/git.svg" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="assets/img/svgs/Api.svg" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="assets/img/svgs/scrum.svg" alt="">
            <span>Scrum</span>
        </div>
        <div>
            <img src="assets/img/svgs/growthmindset.svg" alt="">
            <span>Growth mindest</span>
        </div>
    </div>
</section>
