<section>
    <div class="description border-box slideInAnimation-left animElement">
        <h2>{{ 'skills.eyebrow' | translate }}</h2>
        <div class="border-frame">
            <h1>{{ 'skills.headline' | translate }}</h1>
            <div>
                <span>{{ 'skills.description' | translate }}</span>
                <div>
                    <h2>{{ 'skills.headline2.part1' | translate }} &nbsp;<p>{{ 'skills.headline2.part2' | translate }}</p></h2>
                    <span>{{ 'skills.paragraph' | translate }}</span>
                </div>
                <div class="buttons">
                    <a class="button" href="#contact"><p>{{ 'skills.button' | translate }}</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-symbols slideInAnimation-right animElement">
        <div>
            <img src="assets/img/svgs/html.svg" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="assets/img/svgs/css.svg" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="assets/img/svgs/javascript.svg" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="assets/img/svgs/materialDesign.svg" alt="">
            <span>Material Design</span>
        </div>
        <div>
            <img src="assets/img/svgs/typeScript.svg" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="assets/img/svgs/angular.svg" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="assets/img/svgs/firebase.svg" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="assets/img/svgs/git.svg" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="assets/img/svgs/Api.svg" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="assets/img/svgs/scrum.svg" alt="">
            <span>Scrum</span>
        </div>
        <div id="mindset">
            <div>
                <img src="assets/img/svgs/growthmindset.svg" alt="">
                <span>Growth mindest</span>
            </div>
            <app-overlay class="popUpCont"></app-overlay>
        </div>
        
    </div>
</section>

<!-- onmouseover="hoverTrue()" onmouseleave="hoverFalse()" -->
