<section>
    <div>
        <h2>{{ 'contact.eyebrow' | translate }}</h2>
        <h1>{{ 'contact.headline' | translate }}</h1>
        <div>
            <h3>{{ 'contact.solve' | translate }}</h3>
            <div>
                <span>{{ 'contact.paragraph' | translate }}</span>
                <span>{{ 'contact.paragraph2' | translate }} <span class="mint-green">{{ 'contact.span' | translate }}</span></span>
            </div>
        </div>
    </div>
    <div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div>
                <div>
                    <label for="name">{{ 'contact.form.name.label' | translate }}</label>
                    <input #name="ngModel" id="name" [(ngModel)]="contactData.name" name="name" type="text" placeholder="{{ 'contact.form.name.placeholder' | translate }}" required>
                    @if (!name.valid && name.touched) {
                        <span>{{ 'contact.form.name.error' | translate }}</span>
                    }
                </div>
            </div>
            <div>
                <div>
                    <label>{{ 'contact.form.email.label' | translate }}</label>
                    <input #email="ngModel" id="email" [(ngModel)]="contactData.email" name="email" type="text" placeholder="{{ 'contact.form.email.placeholder' | translate }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    @if (!email.valid && email.touched) {
                        <span>{{ 'contact.form.email.error' | translate }}</span>
                    }
                </div>
            </div>
            <div>
                <div>
                    <label>{{ 'contact.form.subject.label' | translate }}</label>
                    <input #message="ngModel" [(ngModel)]="contactData.message" minlength="5" name="message" type="text" placeholder="{{ 'contact.form.subject.placeholder' | translate }}" required>
                    @if (!message.valid && message.touched) {
                        <span>{{ 'contact.form.subject.error' | translate }}</span>
                    }
                </div>
            </div>

            <div class="button-div">
                <div>
                    <div><input id="confirm" type="checkbox"/></div>
                    <label>{{ 'contact.form.terms.placeholder.part1' | translate }}<span class="mint-green"> {{ 'contact.form.terms.placeholder.a' | translate }}</span> {{ 'contact.form.terms.placeholder.part2' | translate }}</label>
                    <!-- <span>{{ 'contact.form.terms.placeholder.part1' | translate }}<span class="mint-green"> {{ 'contact.form.terms.placeholder.a' | translate }}</span> {{ 'contact.form.terms.placeholder.part2' | translate }}</span> -->
                    @if (false) {
                        <span>{{ 'contact.form.terms.error' | translate }}</span>
                    }
                </div>
                <button type="submit" value="Say Hello :)"><p>{{ 'contact.form.submit' | translate }}</p></button>
            </div>
        </form>
    </div>
</section>
