@import '../../app.component.scss';

*{
    font-family: 'Karla';
    font-size: 18px;
}

section {
    @include dFlex(space-evenly, start);
    padding: 150px 0px 200px 0px;
    height: auto;
    position: relative;
    >div{
        @include dFlex(start, start);
        flex-direction: column;
        max-width: 50vw;
        height: 100%;
        h2,h1,h3 {
            color: $mintGreen;
            padding-top: 20px;
        }
        h2,h3 {
            font-size: 24px;
        }
        >div {
            max-width: 650px;
            padding-right: 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            >div {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}

h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3px;
}
h2 {
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

.mint-green {
    color: $mintGreen;
    font-weight: 700;
}

label {
    color: $normalWhite;
    font-size: 18px !important;
    line-height: normal !important;
}

form {
    @include dFlex(start,start);
    flex-direction: column;
    width: 40vw;
    >div {
        width: 100%;
        border-top: 1px solid $mintGreen;
        >div {
            @include dFlex($ai: start, $g: 10px);
            flex-direction: column !important;
            padding: 20px 0px 20px 20px;
            >span {
                color: red;
            }
        }
    }
    input {
        cursor: pointer;
        width: 100%;
        color: $normalWhite;
        font-family: 'Karla';
        background-color: #1C1C1C;
        outline: unset;
        border: unset;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: $normalWhite;
        transition: background-color 5000s ease-in-out 0s;
    }
    label {
        color: $mintGreen;
        font-size: 24px;
        line-height: 28.8px;
    }
    a {
        text-decoration: unset;
        &:hover {
            color: $normalWhite;
            cursor: pointer;
        }
    }
}

.button-div {
    padding-left: 0px;
    width: 100%;
    @include dFlex();
    flex-direction: column;
    >div {
        @include dFlex();
        flex-direction: row !important;
        padding-left: unset !important;
        >div {
            @include dFlex();
            height: 100%;
            >input {
                width: 33px;
                height: 20px;
                border: 2px solid;
                border-color: $mintGreen;
            }
        }
    }
}

::placeholder {
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-size: 18px;
}

label {
    display: flex;
    gap: 10px;
}

.privacy {
    input {
        width: unset;
    }

    [type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
    }

    [type="checkbox"] {
        width: 20px !important;
        height: 20px;
        border: 2px solid $mintGreen !important;
        border-radius: 5px;
        background-color: unset;
        display: block;
        float: left;
        margin-right: 10px;
        z-index: 5;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-color: #8cad2d !important;
    }

    [type="checkbox"]:hover{
        cursor: pointer;
        background-color: gray;
        // box-shadow: 0px 0px 3px 3px colors.$bg-color;
    }
}

.button:disabled {
    border-color: red !important;
    p {
        color: red;
    }
    &:hover {
        cursor: not-allowed;
    }
}

#sendDialog {
    :host {
        body {
            opacity: 0.4;
        }
    }
    position: absolute;
    top: 40%;
    left: 45%;
    @include dFlex();
    padding: 20px;
    background-color: rgba($color: #0000, $alpha: 0.8);
    border: 2px solid $mintGreen;
    border-radius: 20px;
    height: 30px;
    >span {
        font-size: 24px;
        color: rgba($color: #ffffff, $alpha: 0.8);
    }
}

@media (max-width: 1200px) {
    section {
        @include dFlex($g: 60px);
        flex-direction: column;
        >div {
            max-width: 90%;
        }
    }
}

@media (max-width: 800px) {
    section {
        @include dFlex($g: 60px);
        padding: 50px 0px 50px 0px;
        >div {
            max-width: 90vw;
            h1 {
                font-size: 56px;
            }
        }
    }
    form {
        width: 90vw;
    }
}

@media (max-width: 500px) {
    section>div>h1 {
        font-size: 40px;
        word-break: break-all;
    }
}

@media (min-width: 1725px) {
    #confirm {
        top: unset;
    }
}