@import '../../app.component.scss';

*{
    font-family: 'Karla';
    font-size: 18px;
}

section {
    @include dFlex(space-evenly, start);
    padding: 150px 50px 200px 0px;
    height: auto;
    >div{
        @include dFlex(start, start);
        flex-direction: column;
        max-width: 50vw;
        height: 100%;
        h2,h1,h3 {
            color: $mintGreen;
            padding-top: 20px;
        }
        h2,h3 {
            font-size: 24px;
        }
        >div {
            max-width: 650px;
            padding-right: 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            >div {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}

h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3px;
}
h2 {
    font-weight: 500;
}

h3 {
    font-weight: 700;
}

.mint-green {
    color: $mintGreen;
    font-weight: 700;
}

label {
    color: $normalWhite;
    font-size: 18px !important;
    line-height: normal !important;
}

form {
    @include dFlex(start,start);
    flex-direction: column;
    width: 40vw;
    >div {
        width: 100%;
        border-top: 1px solid $mintGreen;
        >div {
            @include dFlex($ai: start, $g: 10px);
            flex-direction: column !important;
            padding: 20px 0px 20px 20px;
            >span {
                color: red;
            }
        }
    }
    input {
        cursor: pointer;
        width: 100%;
        color: $normalWhite;
        font-family: 'Karla';
        background-color: rgb(23, 23, 23);
        outline: unset;
        border: unset;
    }
    label {
        color: $mintGreen;
        font-size: 24px;
        line-height: 28.8px;
    }
    a {
        text-decoration: unset;
        &:hover {
            color: $normalWhite;
            cursor: pointer;
        }
    }
    }

.button-div {
    padding-left: 0px;
    width: 100%;
    @include dFlex();
    flex-direction: column;
    >div {
        @include dFlex();
        flex-direction: row !important;
        padding-left: unset !important;
        >div {
            @include dFlex();
            height: 100%;
            >input {
                width: 33px;
                height: 20px;
                border: 2px solid;
                border-color: $mintGreen;
            }
        }
    }
}

::placeholder {
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-size: 18px;
}

label {
    display: flex;
    gap: 10px;
    input {
        width: 40px;
    }
}

// [type="checkbox"] {
//     position: relative;
// }

[type="checkbox"] {
  position: relative;
  left: 5px;
  top: 14px;
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;
}

[type="checkbox"] {
    width: 30px !important;
    height: 17px;
    border-radius: 5px;
    border: 2px solid $mintGreen !important;
    background-color: #535353 !important;
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}

[type="checkbox"]:hover{
    cursor: pointer;
}

input[type="checkbox"]:checked {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #8cad2d !important;
}

.button:disabled {
    &:hover {
        border-color: red !important;
        p {
            color: red;
        }
    }
}

@media (max-width: 1200px) {
    section {
        @include dFlex($g: 60px);
        flex-direction: column;
        >div {
            max-width: 90%;
        }
    }
}

@media (max-width: 800px) {
    section {
        @include dFlex($g: 60px);
        padding: 50px 0px 50px 0px;
        >div {
            max-width: 90vw;
            h1 {
                font-size: 56px;
            }
        }
    }
    form {
        width: 90vw;
    }
}

@media (max-width: 500px) {
    section>div>h1 {
        font-size: 40px;
        word-break: break-all;
    }
}

@media (min-width: 1725px) {
    #confirm {
        top: unset;
    }
}