@import '../../app.component.scss';

*{
    font-family: 'Fira Code';
}

section {
    // font-family: 'Fira Code';
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

span {
    color: $mintGreen;
    font-size: 18px;
    font-weight: 400;
}

.links_social {
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    font-size: 14px;
    line-height: 21.6px;
    a {
        color: $normalWhite;
        text-decoration: unset;

        &:hover {
            color: $mintGreen !important;
        }
    }
}
    