@import '../../app.component.scss';

*{
    font-family: 'Fira Code';
}

section {
    // font-family: 'Fira Code';
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180px;
    position: relative;
    >div {
        position: absolute;
    }
}

.left10 {
    left: 10%;
}

span {
    color: $mintGreen;
    font-size: 18px;
    font-weight: 400;
}

svg {
    font-weight: bold;
    text {
        font-family: 'Karla';
    }
    &:hover {
        text {
            cursor: pointer;
            fill: gray;
        }
    }
}

.links_social {
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    font-size: 14px;
    line-height: 21.6px;
    position: absolute;
    right: 10%;
    a {
        color: $normalWhite;
        text-decoration: unset;
        @include dFlex($jc: start, $g: 10px);
        position: relative;
        padding-left: 10px;

        &:hover {
            color: $mintGreen !important;
            cursor: pointer;
        }

        &:hover .dot {
            top: 25px;
        }
        
        .circleGreen {
            position: absolute;
            z-index: 999999;
            left: 0px;
            display: none;
        }

        &:hover {
            .circleGreen {
                display: flex;
            }
        }
    }
}

@media (max-width: 800px) {
    section {
        height: 180px;
        position: relative;
        flex-direction: row !important;
        >div {
            bottom: 70px;
        }
    }
    #c {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        @include dFlex();
    }
}